:root {
  background-color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  margin: 0 auto;
}
body a:hover {
  cursor: default;
}
body p {
  font-size: 20px;
}

.main-content {
  padding: 40px 0;
}
.main-content h1 {
  font-size: 33px;
  text-transform: uppercase;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 25;
}
.navbar a {
  text-decoration: none;
  color: #000000;
}
.navbar a:hover {
  cursor: default;
}
.navbar .nav-logo {
  width: 20%;
}
.navbar .nav-logo .logo {
  width: 100px;
  margin-left: 70px;
}
.navbar .navbar-menu {
  flex: 1 0 47%;
}
.navbar .navbar-menu .dropdown-menu {
  display: none;
}
.navbar .navbar-menu .nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.navbar .navbar-menu .nav-list .dropdown {
  position: relative;
  display: inline-block;
}
.navbar .navbar-menu .nav-list .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  opacity: 0.87;
}
.navbar .navbar-menu .nav-list .dropdown-content a {
  display: block;
  height: 40px;
}
.navbar .navbar-menu .nav-list .dropdown-content a:hover {
  cursor: default;
}
.navbar .navbar-menu .nav-list .dropdown:hover span {
  transform: scale(1.1);
  font-weight: bold;
}
.navbar .navbar-menu .nav-list .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .login-signup {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 12%;
  padding: 5px;
}
.navbar .login-signup #login {
  font-size: 12px;
  text-transform: inherit;
  border: none;
  background-color: #ffffff;
  margin-right: 10px;
}
.navbar .login-signup #signup {
  font-size: 12px;
  text-transform: inherit;
  border: none;
  background-color: gray;
  color: #ffffff;
  height: 22px;
  width: 80px;
}

@media screen and (max-width: 750px) {
  .navbar .navbar-menu .dropdown-menu {
    text-align: right;
    display: block;
  }
  .navbar .menu-dropdown {
    position: relative;
    display: inline-block;
  }
  .navbar .menu-dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0.87;
  }
  .navbar .menu-dropdown-content .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .menu-dropdown-content .nav-list li {
    margin: 10px;
  }
  .navbar .menu-dropdown-content .nav-list li a {
    height: inherit;
  }
  .navbar .menu-dropdown-content a {
    display: block;
    height: 40px;
  }
  .navbar .menu-dropdown-content a:hover {
    cursor: default;
  }
  .navbar .menu-dropdown:hover .menu-dropdown-content {
    display: block;
  }
}
.banner {
  padding-top: 50px;
  position: relative;
  height: 100vh;
}
.banner .banner-img {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.banner .banner-img img {
  width: 100%;
  max-width: 100%;
  clear: both;
  display: block;
  height: 99vh;
}
.banner .banner-desc {
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  margin-left: 10%;
  width: 40vw;
  border-radius: 10px;
  padding: 25px 25px 30px;
  height: 30%;
  bottom: -50px;
  opacity: 0.85;
}
.banner .banner-desc h1 {
  font-size: 33px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
}
.banner .banner-desc button {
  font-weight: bold;
  float: right;
  text-transform: uppercase;
  background-color: #af0000;
  color: white;
  border: none;
  height: 12%;
  width: 50%;
}
.banner .pagination {
  position: absolute;
  z-index: 5;
  bottom: -30%;
  left: 50%;
}

.pagination {
  clear: both;
  width: 75px;
  margin: 25px auto 90px;
  padding: 0;
}
.pagination li {
  list-style: none;
  float: left;
  margin: 0 2px;
}
.pagination li a {
  display: block;
  width: 10px;
  height: 10px;
  text-indent: -10000px;
  background: #efefef;
  border-radius: 10px;
}
.pagination li a:hover {
  cursor: default;
}
.pagination li a.active {
  background: #af0000;
}

.banner-home .banner-img img {
  max-width: 80%;
  height: 120vh;
  float: right;
}
.banner-home .banner-desc {
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  margin-left: 10%;
  margin-top: 16%;
  width: 35vw;
  border-radius: 10px;
  padding: 25px 25px 30px;
}
.banner-home .banner-desc h1 {
  font-size: 33px;
  line-height: 29px;
  color: #bf0000;
}
.banner-home .banner-desc button {
  font-weight: bold;
  float: right;
  text-transform: uppercase;
  background-color: #af0000;
  color: white;
  border: none;
  height: 40px;
  width: 50%;
}
.banner-home .pagination {
  position: absolute;
  z-index: 5;
  bottom: -40%;
  left: 50%;
}

.header-with-strike {
  text-align: center;
  margin-top: 15px;
}
.header-with-strike hr {
  z-index: -1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #af0000;
  margin: 2em 0;
  padding: 0;
}
.header-with-strike h1 {
  z-index: 2;
  width: 49%;
  margin: -49px auto 20px;
}

.what-we-do-and-whats-new {
  width: 90%;
  margin: 0 auto 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.what-we-do-and-whats-new .what-we-do {
  width: 65%;
}
.what-we-do-and-whats-new .what-we-do p {
  font-size: 21px;
  line-height: 29px;
}
.what-we-do-and-whats-new .whats-new {
  width: 24%;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px #efefef;
}
.what-we-do-and-whats-new .whats-new img {
  width: 70%;
  margin: 0 auto 30px;
}

.bg-gray {
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
  margin: 0 auto;
}
.bg-gray .interact {
  padding-top: inherit;
  width: 35%;
}
.bg-gray .interact h1 {
  background-color: #efefef;
}
.bg-gray .interact button {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #af0000;
  color: white;
  border: none;
  height: 40px;
  width: 200px;
  margin-top: 20px;
}
.bg-gray .get-started {
  padding-top: inherit;
  width: 55%;
}
.bg-gray .get-started h1 {
  color: #af0000;
}
.bg-gray .get-started p {
  font-size: 21px;
  line-height: 29px;
}
.bg-gray .get-started .get-started-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.bg-gray .get-started .get-started-images img {
  width: 45%;
  margin-bottom: 20px;
}

.partners {
  text-align: center;
  color: #af0000;
  width: 85%;
  margin: 50px auto 70px;
}
.partners h1 {
  margin-bottom: 2em;
}
.partners .partner-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.partners .partner-logo img {
  width: 30%;
}

.case-study-and-white-papers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99.5%;
  margin: 0 auto 70px;
}
.case-study-and-white-papers h1 {
  background-color: #ffffff;
  font-size: 19px;
}
.case-study-and-white-papers .case-study {
  width: 32%;
  position: relative;
}
.case-study-and-white-papers .case-study h1 {
  width: 71%;
  color: #000000;
}
.case-study-and-white-papers .white-papers {
  width: 65%;
}
.case-study-and-white-papers .white-papers h1 {
  color: #000000;
}
.case-study-and-white-papers .white-papers .papers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.case-study-and-white-papers .white-papers .papers .paper {
  position: relative;
  width: 49.5%;
}
.case-study-and-white-papers .white-papers .papers .paper img {
  height: 100%;
}
.case-study-and-white-papers .white-papers .papers .paper h3 {
  margin: 0;
  font-size: 13px;
  text-transform: uppercase;
}
.case-study-and-white-papers img {
  z-index: -255;
  float: top;
  width: 100%;
  margin: 0 auto;
}
.case-study-and-white-papers .tag {
  font-size: 15px;
  background-color: #ffffff;
  position: absolute;
  width: 80%;
  height: 250px;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: -17em auto 0;
  padding: 20px;
  color: #000000;
}
.case-study-and-white-papers .tag h1 {
  width: 90%;
  font-size: 19px;
  margin: 0 auto;
  font-weight: bold;
}
.case-study-and-white-papers .tag p {
  font-size: 18px;
}
.case-study-and-white-papers .tag button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  border: 1px solid #af0000;
  background-color: #ffffff;
  width: 60%;
  height: 40px;
  color: #af0000;
}
.case-study-and-white-papers .tag button a {
  text-decoration: none;
  color: #af0000;
}
.case-study-and-white-papers .tag button a:hover {
  cursor: default;
}

.partners-say {
  position: relative;
  width: 90%;
  margin: 0 auto;
  color: #000000;
  padding-top: 20px;
}
.partners-say .background-img {
  opacity: 0.15;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.partners-say h1 {
  width: 30%;
  margin: 70px auto;
  text-align: center;
}
.partners-say .horizontal-line {
  border-top: 1px solid #af0000;
  width: 50px;
  margin-bottom: 0;
}
.partners-say .sayings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.partners-say .sayings p {
  width: 37%;
  font-style: oblique;
}
.partners-say .sayings i {
  font-size: 40px;
  width: 10%;
  text-align: center;
}
.partners-say .sayings .vertical-line {
  border-left: 1px solid #af0000;
  height: 300px;
  margin-top: 0;
}

@media screen and (max-width: 1020px) {
  .main-content .header-with-strike {
    width: 100%;
  }
  .main-content .header-with-strike hr {
    width: 100%;
  }
  .main-content .bg-gray,
.main-content .what-we-do-and-whats-new,
.main-content .case-study-and-white-papers {
    flex-direction: column;
  }
  .main-content .bg-gray img,
.main-content .what-we-do-and-whats-new img,
.main-content .case-study-and-white-papers img {
    margin: 0 auto;
    display: block;
  }
  .main-content .bg-gray .interact,
.main-content .bg-gray .get-started,
.main-content .bg-gray .what-we-do,
.main-content .bg-gray .whats-new,
.main-content .bg-gray .case-study,
.main-content .bg-gray .white-papers,
.main-content .what-we-do-and-whats-new .interact,
.main-content .what-we-do-and-whats-new .get-started,
.main-content .what-we-do-and-whats-new .what-we-do,
.main-content .what-we-do-and-whats-new .whats-new,
.main-content .what-we-do-and-whats-new .case-study,
.main-content .what-we-do-and-whats-new .white-papers,
.main-content .case-study-and-white-papers .interact,
.main-content .case-study-and-white-papers .get-started,
.main-content .case-study-and-white-papers .what-we-do,
.main-content .case-study-and-white-papers .whats-new,
.main-content .case-study-and-white-papers .case-study,
.main-content .case-study-and-white-papers .white-papers {
    width: 100%;
    margin: 0 auto;
  }
  .main-content .bg-gray .interact p,
.main-content .bg-gray .get-started p,
.main-content .bg-gray .what-we-do p,
.main-content .bg-gray .whats-new p,
.main-content .bg-gray .case-study p,
.main-content .bg-gray .white-papers p,
.main-content .what-we-do-and-whats-new .interact p,
.main-content .what-we-do-and-whats-new .get-started p,
.main-content .what-we-do-and-whats-new .what-we-do p,
.main-content .what-we-do-and-whats-new .whats-new p,
.main-content .what-we-do-and-whats-new .case-study p,
.main-content .what-we-do-and-whats-new .white-papers p,
.main-content .case-study-and-white-papers .interact p,
.main-content .case-study-and-white-papers .get-started p,
.main-content .case-study-and-white-papers .what-we-do p,
.main-content .case-study-and-white-papers .whats-new p,
.main-content .case-study-and-white-papers .case-study p,
.main-content .case-study-and-white-papers .white-papers p {
    width: 100%;
  }
}
.main-content {
  padding-top: 0;
}
.main-content h1 {
  color: #af0000;
}
.main-content .width-80 {
  width: 80%;
}
.main-content .gray {
  background-color: #efefef;
  padding: 50px 0;
  margin-top: -90px;
}
.main-content .gray .our-mission {
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-content .gray .our-mission .text {
  width: 60%;
}
.main-content .gray .our-mission .image {
  width: 30%;
  margin: auto 0;
}
.main-content .gray .our-mission .image img {
  width: 90%;
}
.main-content .why-our-solution-works {
  text-align: center;
  margin: 60px auto;
}
.main-content .why-our-solution-works p {
  font-size: 20px;
}
.main-content .why-our-solution-works ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-content .why-our-solution-works ul .item {
  width: 25%;
  margin: 50px 10px;
}
.main-content .why-our-solution-works ul .item i {
  font-size: 50px;
  padding: 20px;
  border: 2px solid #af0000;
  border-radius: 50%;
}
.main-content .why-our-solution-works ul .item h3 {
  font-size: 19px;
}
.main-content .why-our-solution-works ul .item p {
  font-size: 18px;
}
.main-content .our-story-and-solution {
  background-color: #efefef;
  width: 100%;
}
.main-content .our-story-and-solution .width-80 {
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-content .our-story-and-solution .width-80 .our-story {
  width: 65%;
}
.main-content .our-story-and-solution .width-80 .solution-and-experience {
  margin: 40px auto;
  width: 30%;
  background-color: #ffffff;
  text-align: center;
}
.main-content .our-story-and-solution .width-80 .solution-and-experience .our-solution h1 {
  color: #000000;
  text-decoration: underline #af0000;
}
.main-content .our-story-and-solution .width-80 .solution-and-experience .our-solution img {
  width: 70%;
  margin: 0 auto;
}
.main-content .our-story-and-solution .width-80 .solution-and-experience .experience-now h1 {
  color: #000000;
}
.main-content .our-story-and-solution .width-80 .solution-and-experience .experience-now button {
  display: block;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  background-color: #383a41;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.main-content .meet-our-leadership-team {
  margin: 0 auto;
}
.main-content .meet-our-leadership-team h1 {
  color: #000000;
}
.main-content .meet-our-leadership-team hr {
  float: left;
  width: 50px;
  border-top: 1px solid #af0000;
  margin-top: -20px;
}
.main-content .meet-our-leadership-team .members {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 5s ease;
}
.main-content .meet-our-leadership-team .members .member {
  width: 22%;
  position: relative;
}
.main-content .meet-our-leadership-team .members .member .member-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  opacity: 0.8;
}
.main-content .meet-our-leadership-team .members .member .tag {
  background-color: #ffffff;
  position: absolute;
  width: 75%;
  height: 80px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  margin: -17em auto 0;
  padding: 5px 20px;
  color: #000000;
  border-radius: 10px;
}
.main-content .meet-our-leadership-team .members .member .tag h1 {
  font-size: 19px;
  line-height: 0.3;
}
.main-content .meet-our-leadership-team .members .member .tag span {
  display: block;
}
.main-content .meet-our-leadership-team .members .member .tag a {
  float: right;
  color: #000000;
  font-size: 12px;
  text-decoration: none;
}
.main-content .meet-our-leadership-team .members .member .tag a:hover {
  cursor: default;
}
.main-content .meet-our-leadership-team .members .member .tag a i {
  margin-left: 5px;
  font-size: 10px;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window {
  position: fixed;
  background-color: rgba(56, 58, 65, 0.75);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window:target {
  visibility: visible;
  pointer-events: auto;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window > div > div {
  flex: 1 0 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window > div > div a {
  color: #af0000;
  text-align: right;
  font-size: 20px;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window > div > div a:hover {
  text-decoration: underline;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window > div > div a i {
  font-size: inherit;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window > div > div .modal-close {
  position: absolute;
  text-align: center;
  top: 20px;
  line-height: 50px;
  right: 10px;
  float: right;
  text-transform: uppercase;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window > div > div h1 {
  margin-top: 50px;
  font-size: 33px;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window > div > div span {
  font-size: 18px;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window > div .modal-image {
  width: 38%;
  margin: 10px;
  height: 90%;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window header {
  font-weight: bold;
}
.main-content .meet-our-leadership-team .members .member .tag .modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.main-content .meet-our-leadership-team .members .member:hover {
  overflow: hidden;
}
.main-content .meet-our-leadership-team .members .member:hover .member-img {
  transform: scale(1.1);
}
.main-content .meet-our-leadership-team .members .member:hover .tag > a {
  color: #af0000;
  border-bottom: 1px solid #af0000;
}
.main-content .meet-our-leadership-team .members .member:hover .tag > a:hover {
  cursor: default;
}
.main-content .partners-say {
  margin-bottom: 50px;
}
.main-content .partners-say .sayings .m-l {
  margin-left: 50px;
}
.main-content .partners-say .sayings .m-r {
  margin-right: 50px;
}
.main-content .partners-say .sayings .saying {
  margin-left: 3em;
}
.main-content .partners-say .sayings .saying > img {
  border-radius: 50%;
}
.main-content .partners-say .sayings .saying > p {
  margin-left: 40px;
  width: 80%;
}
.main-content .partners-say .sayings .saying > p > .name {
  font-weight: bold;
  display: block;
  font-style: normal;
  font-size: 15px;
}
.main-content .partners-say .sayings .saying > p > .post {
  display: block;
  font-size: 12px;
}

.main-content .white {
  background-color: #ffffff;
}
.main-content .white .our-mission .image {
  float: left;
  margin-top: 40px;
}

.offers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.offers .offer {
  text-align: center;
}
.offers .offer h1 {
  text-transform: capitalize;
  color: #383a41;
  width: 63%;
  margin: 20px auto 0;
}
.offers .offer ul {
  list-style: none;
  font-size: 20px;
  padding: 0;
}
.offers .offer ul li {
  line-height: 2em;
}
.offers .offer ul li i {
  margin-right: 5px;
  color: #af0000;
}

.discover-a-solution-that-works-for-you {
  margin: 0 auto;
}
.discover-a-solution-that-works-for-you .departments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 5s ease;
}
.discover-a-solution-that-works-for-you .departments .department {
  width: 24%;
  position: relative;
  overflow: hidden;
}
.discover-a-solution-that-works-for-you .departments .department img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  opacity: 0.8;
  transition: 0.2s ease-in;
}
.discover-a-solution-that-works-for-you .departments .department .tag {
  text-align: center;
  position: absolute;
  width: 75%;
  height: 85px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  margin: -80em auto 55px;
  padding: 5px 20px;
  color: #ffffff;
  border-radius: 10px;
}
.discover-a-solution-that-works-for-you .departments .department .tag h2 {
  font-size: 22px;
  line-height: 0.3;
  transition: 0.1s ease-in;
}
.discover-a-solution-that-works-for-you .departments .department .tag span {
  line-height: 1em;
  font-size: 17px;
  display: block;
  margin-bottom: -35px;
  transition: 0.1s ease-in;
  height: 80px;
}
.discover-a-solution-that-works-for-you .departments .department .tag a {
  background-color: #ffffff;
  color: #af0000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  display: none;
  padding-top: 12px;
  text-decoration: none;
}
.discover-a-solution-that-works-for-you .departments .department .tag a:hover {
  cursor: default;
}
.discover-a-solution-that-works-for-you .departments .department:first-child .tag {
  margin-bottom: 90px;
}
.discover-a-solution-that-works-for-you .departments .department:first-child .tag span {
  margin-bottom: 0;
}
.discover-a-solution-that-works-for-you .departments .department:first-child .tag a {
  display: block;
}
.discover-a-solution-that-works-for-you .departments .department:first-child .tag a:hover {
  cursor: default;
}
.discover-a-solution-that-works-for-you .departments .dept-hover:hover {
  overflow: hidden;
}
.discover-a-solution-that-works-for-you .departments .dept-hover:hover img {
  transform: scale(1.5);
}
.discover-a-solution-that-works-for-you .departments .dept-hover:hover .tag h2, .discover-a-solution-that-works-for-you .departments .dept-hover:hover .tag span {
  transform: translateY(-35px);
}
.discover-a-solution-that-works-for-you .departments .dept-hover:hover .tag a {
  display: block;
}
.discover-a-solution-that-works-for-you .departments .dept-hover:hover .tag a:hover {
  cursor: default;
}

.signup {
  margin: 60px 0 40px;
  position: relative;
}
.signup > h1 {
  text-align: center;
  color: #383a41;
  text-transform: unset;
  width: 60%;
  margin: 10px auto 50px;
}
.signup .back-img img {
  width: 100%;
}
.signup .tag {
  background-color: #ffffff;
  position: absolute;
  width: 65%;
  height: 25%;
  margin: -23em 15% 0;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.signup .tag h3 {
  margin-top: 0;
  font-size: 23px;
  flex: 1 0 50%;
}
.signup .tag .signup-form {
  flex: 1 0 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.signup .tag .signup-form form {
  padding: 20px;
}
.signup .tag .signup-form form input {
  display: block;
  border: 1px solid #efefef;
  height: 45px;
  width: 100%;
}
.signup .tag .signup-form form input::placeholder {
  color: #97958f;
  padding-left: 9px;
}
.signup .tag .signup-form form button {
  margin-top: 10px;
  border: none;
  color: #ffffff;
  background-color: #af0000;
  height: 35px;
  width: 100%;
}
.signup .tag .signup-form span {
  font-size: 13px;
  color: #97958f;
  width: 90%;
  margin: 0 auto;
  line-height: 2em;
}

.main-content .first-p {
  margin: 70px auto;
}
.main-content .first-p p {
  text-align: center;
  font-size: 21px;
}
.main-content .bg-gray .demo-video {
  padding-top: inherit;
  width: 55%;
}
.main-content .bg-gray .demo-video h1 {
  background-color: #efefef;
}
.main-content .bg-gray .demo-video .demo {
  text-align: left;
}
.main-content .bg-gray .demo-video .demo h1, .main-content .bg-gray .demo-video .demo p {
  text-align: left;
  margin-left: 0;
}
.main-content .bg-gray .demo-video .demo img {
  width: 100%;
  margin: 0 auto 60px;
}
.main-content .bg-gray .demo-video .demo button {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #af0000;
  color: white;
  border: none;
  height: 40px;
  width: 200px;
  margin-top: 20px;
}
.main-content .bg-gray .interact {
  width: 35%;
}
.main-content .what-we-do-and-whats-new .what-we-do {
  width: 55%;
  margin: auto 0;
}
.main-content .what-we-do-and-whats-new .what-we-do h1 {
  text-transform: none;
}
.main-content .what-we-do-and-whats-new .what-we-do button {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #af0000;
  color: white;
  border: none;
  height: 40px;
  width: 200px;
  margin-top: 20px;
}
.main-content .what-we-do-and-whats-new .whats-new {
  width: 40%;
}
.main-content .what-we-do-and-whats-new .whats-new h1 {
  color: #000000;
}
.main-content .what-we-do-and-whats-new .whats-new img {
  width: 90%;
  display: block;
  margin-bottom: 10px;
}
.main-content .what-we-do-and-whats-new .whats-new button {
  margin-top: 0;
  width: 90%;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #383a41;
  color: #ffffff;
  margin-bottom: 20px;
}
.main-content .signup .tag {
  height: 30%;
}

@media screen and (max-width: 1020px) {
  .main-content .header-with-strike {
    width: 100%;
  }
  .main-content .header-with-strike hr {
    width: 100%;
  }
  .main-content .bg-gray, .main-content .what-we-do-and-whats-new {
    flex-direction: column;
  }
  .main-content .bg-gray .interact, .main-content .bg-gray .get-started, .main-content .bg-gray .what-we-do, .main-content .bg-gray .whats-new, .main-content .what-we-do-and-whats-new .interact, .main-content .what-we-do-and-whats-new .get-started, .main-content .what-we-do-and-whats-new .what-we-do, .main-content .what-we-do-and-whats-new .whats-new {
    width: 100%;
    margin: 0 auto;
  }
  .main-content .bg-gray .interact p, .main-content .bg-gray .get-started p, .main-content .bg-gray .what-we-do p, .main-content .bg-gray .whats-new p, .main-content .what-we-do-and-whats-new .interact p, .main-content .what-we-do-and-whats-new .get-started p, .main-content .what-we-do-and-whats-new .what-we-do p, .main-content .what-we-do-and-whats-new .whats-new p {
    width: 100%;
  }
}
.main-content .question-box {
  margin: 50px auto;
  height: 250px;
}
.main-content .question-box h1 {
  color: #000000;
}
.main-content .question-box #search {
  border: 0;
  width: 350px;
}
.main-content .question-box #search::placeholder {
  color: #aeaeae;
  font-size: 18px;
}
.main-content .question-box .searchbox {
  padding-left: 5px;
  border: 1px solid #aeaeae;
  color: #aeaeae;
  width: 417px;
  height: 45px;
}
.main-content .question-box .searchbox button {
  border: none;
  color: #ffffff;
  background: #000000;
  font-size: 25px;
  width: 60px;
  height: 45px;
  top: 0;
  right: 0;
}
.main-content .question-box img {
  width: 40%;
  float: right;
  margin-top: -110px;
}
.main-content .question-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto 0;
  height: 550px;
}
.main-content .question-list .left, .main-content .question-list .right {
  width: 45%;
}
.main-content .question-list p {
  padding: 15px;
  font-weight: bold;
  background-color: #efefef;
  transition: 0.2s ease-in-out;
}
.main-content .question-list p i {
  float: right;
}
.main-content .question-list p:hover {
  background-color: #ffffff;
  color: #af0000;
  box-shadow: 0 0 10px #efefef;
}
.main-content .question-list .vertical-line {
  border-left: 1px solid #af0000;
  height: 90%;
  margin-top: -9px;
}
.main-content .circle {
  border: 1px solid #af0000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.main-content .questions {
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.main-content .questions .headings h1 {
  color: #383a41;
  font-weight: initial;
}
.main-content .questions .headings h1:first-of-type {
  color: #000000;
  font-weight: bold;
}
.main-content .questions i {
  font-size: 33px;
  color: #383a41;
  margin: auto 0;
  width: 5%;
}
.main-content .questions img {
  width: 25%;
}
.main-content .signup {
  margin-top: 0;
}

.main-content {
  margin-top: 80px;
}
.main-content .case-studies {
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto 30px;
}
.main-content .case-studies .description {
  width: 35%;
}
.main-content .case-studies .description h1 {
  color: #383a41;
}
.main-content .case-studies .description button {
  background-color: #af0000;
  height: 45px;
  width: 200px;
  border: none;
}
.main-content .case-studies .description button a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
}
.main-content .case-studies .description button a:hover {
  cursor: default;
}
.main-content .case-studies .numbers {
  display: inline;
}
.main-content .case-studies .numbers .number {
  display: inline;
  margin-top: -50px;
  padding: 0;
  font-size: 300px;
  color: #efefef;
  text-shadow: -4px 0 #af0000, 0 4px #af0000, 4px 0 #af0000, 0 -4px #af0000;
}
.main-content .case-studies img {
  z-index: 1;
  margin-left: -50px;
  margin-bottom: -80px;
}
.main-content .stroked-header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
}
.main-content .stroked-header h1 {
  color: #000000;
  background-color: #ffffff;
  font-size: 25px;
  width: 70%;
}
.main-content .stroked-header .more-about-launch-pad {
  width: 49%;
}
.main-content .stroked-header .more-about-launch-pad img {
  width: 95%;
  box-shadow: 0 0 10px #efefef;
  border-radius: 10px;
}
.main-content .stroked-header .view-demo-video {
  width: 49%;
}
.main-content .stroked-header .view-demo-video video {
  display: block;
  width: 95%;
  height: 280px;
  box-shadow: 0 0 10px #efefef;
  border-radius: 10px;
}

.pricing {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.pricing h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 30px;
}
.pricing p {
  text-align: center;
  margin-top: 0;
}
.pricing .pricing-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: end;
}
.pricing .pricing-list .links {
  margin-top: 400px;
  height: 100%;
  width: 25%;
  list-style: none;
  text-align: right;
}
.pricing .pricing-list .links li {
  border-top: 1px dashed #aeaeae;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 10px;
}
.pricing .pricing-list .links li a {
  text-decoration: none;
  color: #000000;
}
.pricing .pricing-list .links li a:hover {
  color: #af0000;
  text-decoration: underline;
  cursor: default;
}
.pricing .pricing-list .links li:hover {
  color: #af0000;
  text-decoration: underline;
}
.pricing .pricing-list .links li:last-of-type span {
  display: none;
}
.pricing .pricing-list .links li:last-of-type:hover {
  color: #000000;
  text-decoration: none;
}
.pricing .pricing-list .links li:last-of-type:hover i {
  color: #af0000;
}
.pricing .pricing-list .links li:last-of-type:hover span {
  display: inline-block;
  background-color: #aeaeae;
  color: #ffffff;
  float: right;
  font-size: 13px;
  text-transform: initial;
  width: 70%;
  padding: 5px;
  margin-right: 9px;
  font-weight: normal;
  border-top: 10px solid white;
  border-left: 2px solid white;
  border-right: 10px solid transparent;
}
.pricing .pricing-list #left {
  width: 74%;
}
.pricing .pricing-list #left .bars {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pricing .pricing-list #left .bars .bar1, .pricing .pricing-list #left .bars .bar2, .pricing .pricing-list #left .bars .bar3 {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 10px #aeaeae;
}
.pricing .pricing-list #left .bars .bar1 .header, .pricing .pricing-list #left .bars .bar2 .header, .pricing .pricing-list #left .bars .bar3 .header {
  background-color: #383a41;
  color: #ffffff;
  padding-top: 20px;
}
.pricing .pricing-list #left .bars .bar1 .header i, .pricing .pricing-list #left .bars .bar2 .header i, .pricing .pricing-list #left .bars .bar3 .header i {
  font-size: 30px;
}
.pricing .pricing-list #left .bars .bar1 .header h2, .pricing .pricing-list #left .bars .bar2 .header h2, .pricing .pricing-list #left .bars .bar3 .header h2 {
  text-transform: uppercase;
}
.pricing .pricing-list #left .bars .bar1 .body, .pricing .pricing-list #left .bars .bar2 .body, .pricing .pricing-list #left .bars .bar3 .body {
  padding: 10px;
}
.pricing .pricing-list #left .bars .bar1 .body h1, .pricing .pricing-list #left .bars .bar2 .body h1, .pricing .pricing-list #left .bars .bar3 .body h1 {
  color: #000000;
}
.pricing .pricing-list #left .bars .bar1 .body span, .pricing .pricing-list #left .bars .bar2 .body span, .pricing .pricing-list #left .bars .bar3 .body span {
  text-transform: uppercase;
}
.pricing .pricing-list #left .bars .bar1 .body p, .pricing .pricing-list #left .bars .bar2 .body p, .pricing .pricing-list #left .bars .bar3 .body p {
  margin-top: 20px;
  font-size: 18px;
  height: 180px;
}
.pricing .pricing-list #left .bars .bar1 .body ul, .pricing .pricing-list #left .bars .bar2 .body ul, .pricing .pricing-list #left .bars .bar3 .body ul {
  list-style: none;
  width: 70%;
  margin: 0 auto 35px;
  padding-left: 0;
}
.pricing .pricing-list #left .bars .bar1 .body ul li, .pricing .pricing-list #left .bars .bar2 .body ul li, .pricing .pricing-list #left .bars .bar3 .body ul li {
  border-top: 1px dashed #aeaeae;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.pricing .pricing-list #left .bars .bar1 .body ul li i, .pricing .pricing-list #left .bars .bar2 .body ul li i, .pricing .pricing-list #left .bars .bar3 .body ul li i {
  color: #af0000;
}
.pricing .pricing-list #left .bars .bar1 .body button, .pricing .pricing-list #left .bars .bar2 .body button, .pricing .pricing-list #left .bars .bar3 .body button {
  width: 90%;
  height: 50px;
  background-color: #ffffff;
  color: #383a41;
  border: 1px solid #383a41;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.pricing .pricing-list #left .bars .bar1 {
  height: 100%;
  margin-right: -50px;
  z-index: 1;
  margin-top: 15px;
}
.pricing .pricing-list #left .bars .bar2 {
  z-index: 2;
  height: 104%;
}
.pricing .pricing-list #left .bars .bar2 .header {
  background-color: #af0000;
}
.pricing .pricing-list #left .bars .bar2 .body p {
  margin-top: 35px;
}
.pricing .pricing-list #left .bars .bar2 .body ul {
  margin-bottom: 50px;
}
.pricing .pricing-list #left .bars .bar2 .body button {
  background-color: #af0000;
  color: #ffffff;
  border: none;
}
.pricing .pricing-list #left .bars .bar3 {
  height: 100%;
  background-color: #efefef;
  margin-left: -50px;
  z-index: 1;
  margin-top: 15px;
}

#basic-features h1 {
  text-align: center;
}
#basic-features table {
  margin: 0 auto;
}
#basic-features table th {
  background-color: #383a41;
  color: #ffffff;
  font-size: 18px;
  width: 13%;
}
#basic-features table th:first-child {
  width: 85%;
  font-size: 33px;
  text-align: left;
  padding-left: 10px;
}
#basic-features table td {
  font-size: 20px;
  color: #383a41;
  padding: 5px;
}
#basic-features table td:last-child {
  text-align: center;
  color: #af0000;
}
#basic-features table .topic td {
  color: #000000;
  background-color: #e6e6e6;
  font-weight: bold;
}

.case-detail {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.case-detail .p1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.case-detail .p1 p {
  width: 60%;
}
.case-detail .p1 .image {
  width: 35%;
  margin-top: 25px;
}
.case-detail .p1 .image img {
  width: 90%;
}
.case-detail .thought {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
.case-detail .thought p {
  color: #af0000;
  margin-bottom: 0;
}
.case-detail .thought span {
  font-size: 20px;
}
.case-detail .result h2 {
  margin: 50px 0 30px;
}
.case-detail .result .tb {
  border-radius: 10px;
  box-shadow: 0 0 10px #aeaeae;
  overflow: hidden;
  margin: 50px 0;
}
.case-detail .result .tb table {
  border-collapse: collapse;
}
.case-detail .result .tb table tr {
  border-bottom: 1px solid #ffffff;
  width: 100%;
  height: 80px;
}
.case-detail .result .tb table tr .col1, .case-detail .result .tb table tr .colh1 {
  width: 19.5%;
}
.case-detail .result .tb table tr .col2, .case-detail .result .tb table tr .colh2 {
  width: 20%;
  background-color: #efefef;
}
.case-detail .result .tb table tr .col3, .case-detail .result .tb table tr .colh3 {
  width: 20%;
}
.case-detail .result .tb table tr .col4, .case-detail .result .tb table tr .colh4 {
  width: 40%;
  background-color: #efefef;
}
.case-detail .result .tb table tr .colh2, .case-detail .result .tb table tr .colh4 {
  background-color: #af0000;
}
.case-detail .result .tb table tr th {
  text-align: center;
  background-color: #af0000;
  height: 110px;
  font-size: 33px;
  color: #ffffff;
  text-transform: capitalize;
  border-right: 1px solid #ffffff;
}
.case-detail .result .tb table tr td {
  font-size: 20px;
  text-align: center;
  align-items: center;
  padding: 20px;
  border-right: 1px solid #ffffff;
}
.case-detail .result .tb table tr:first-of-type {
  border-bottom: none;
}
.case-detail .result .tb table tr:nth-child(2) {
  height: 150px;
}
.case-detail .result .photo {
  box-shadow: 0 0 10px #aeaeae;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  margin: 50px 0;
}
.case-detail .result .photo img {
  width: 49%;
}
.case-detail .result button {
  background-color: #af0000;
  border: none;
  border-radius: 5px;
  height: 45px;
  width: 190px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 50px auto;
  display: block;
}

.other-case-studies {
  margin: 70px auto;
}
.other-case-studies h1 {
  background-color: #ffffff;
  color: #000000;
}
.other-case-studies .cases {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.other-case-studies .cases .case {
  border-radius: 10px;
  box-shadow: 0 0 10px #aeaeae;
  width: 43%;
  padding: 20px;
}
.other-case-studies .cases .case img {
  width: 50%;
  margin: 0 auto;
}
.other-case-studies .cases .case h1 {
  color: #383a41;
  width: 80%;
  margin-top: 10px;
}
.other-case-studies .cases .case button {
  background-color: #af0000;
  border: none;
  border-radius: 5px;
  height: 45px;
  width: 190px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.footer {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer .contact-info {
  flex: 1 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer .contact-info .logo-and-social {
  width: 20%;
}
.footer .contact-info .logo-and-social .logo {
  width: 50%;
  display: block;
  margin: 0 auto 20px;
}
.footer .contact-info .logo-and-social .social {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.footer .contact-info .logo-and-social .social i {
  width: 18%;
  color: #aeaeae;
}
.footer .contact-info .logo-and-social .social i:hover {
  color: #af0000;
}
.footer .contact-info .links {
  width: 40%;
  text-transform: uppercase;
  color: #aeaeae;
}
.footer .contact-info .links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer .contact-info .links ul li {
  flex: 1 0 50%;
  height: 50px;
  position: relative;
}
.footer .contact-info .links ul li::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 30px;
  left: 0;
  background-color: #af0000;
  visibility: hidden;
}
.footer .contact-info .links ul li:hover::before {
  visibility: visible;
}
.footer .contact-info .links ul li:hover {
  color: #000000;
}
.footer .contact-info .contact-us {
  width: 30%;
  color: #aeaeae;
}
.footer .contact-info .contact-us:hover {
  color: #000000;
}
.footer .contact-info .contact-us:hover h1 {
  border-bottom: 2px solid #af0000;
  width: 50%;
}
.footer .contact-info .contact-us h1 {
  text-transform: uppercase;
}
.footer footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer footer .left {
  margin-left: 70px;
}
.footer footer .right ul {
  list-style: none;
}
.footer footer .right ul li {
  display: inline-block;
  margin: 0 20px;
}
.footer footer .right ul li a {
  text-decoration: none;
  color: #000000;
}
.footer footer .right ul li a:hover {
  cursor: default;
}

/*# sourceMappingURL=style.css.map */
