:root {
  background-color: $white;
  font-family: $main-font;
  font-size: 14px;
}

body {
  width: 100%;
  margin: 0 auto;

    a:hover {
      cursor: default;
    }

  p {
    font-size: $default-font-size;
  }
}

.main-content {
  padding: 40px 0;

  h1 {
    font-size: $header-font-size;
    text-transform: uppercase;
  }
}

@media screen and (max-width: $break-point) {
  body p {
    font-size: 15px;
  }
}