//Colors
$white: #ffffff;
$light-gray: #efefef;
$moderate-gray: #97958f;
$dark-gray: #383a41;
$red: #af0000;
$gray: #aeaeae;
$black: #000000;

//Fonts
$main-font: 'Source Sans Pro', sans-serif;
$header-font-size: 33px;
$default-font-size: 20px;

$break-point: 1020px;