//Colors
$white: #ffffff;
$light-gray: #efefef;
$moderate-gray: #97958f;
$dark-gray: #595d63;
$red: #af0000;
$gray: #aeaeae;
$black: #000000;
$yellow: #f0c860;

//Fonts
$main-font: 'Open Sans', sans-serif;
$header-font-size: 33px;
$default-font-size: 20px;

$break-point: 1020px;