.main-content {
  padding-top: 0;

  h1 {
    color: $red;
  }

  .width-80 {
    width: 80%;
  }

  .gray {
    background-color: $light-gray;
    padding: 50px 0;
    margin-top: -90px;

    .our-mission {
      margin: 40px auto 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .text {
        width: 60%;
      }

      .image {
        width: 30%;
        margin: auto 0;
        img {
          width: 90%;
        }
      }
    }
  }

  .why-our-solution-works {
    text-align: center;
    margin: 60px auto;

    p {
      font-size: $default-font-size;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .item {
        width: 25%;
        margin: 50px 10px;

        i {
          font-size: 50px;
          padding: 20px;
          border: 2px solid $red;
          border-radius: 50%;
        }

        h3 {
          font-size: 19px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }

  .our-story-and-solution {
    background-color: $light-gray;
    width: 100%;

    .width-80 {
      margin: 60px auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .our-story {
        width: 65%;
      }

      .solution-and-experience {
        margin: 40px auto;
        width: 30%;
        background-color: $white;
        text-align: center;

        .our-solution {

          h1 {
            color: $black;
            text-decoration: underline $red;
          }

          img {
            width: 70%;
            margin: 0 auto;
          }
        }

        .experience-now {
          h1 {
            color: $black;
          }
          button {
            display: block;
            width: 90%;
            margin: 20px auto;
            padding: 10px;
            background-color: $dark-gray;
            color: $white;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .meet-our-leadership-team {
    margin: 0 auto;

    h1 {
      color: $black;
    }

    hr {
      float: left;
      width: 50px;
      border-top: 1px solid $red;
      margin-top: -20px;
    }

    .members{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      transition: 5s ease;

      .member {
        width: 22%;
        position: relative;

        .member-img {
          width: 100%;
          height: 100%;
          margin: 0 auto;
          opacity: 0.8;
        }

        .tag {
          background-color: $white;
          position: absolute;
          width: 75%;
          height: 80px;
          left: 2%;
          right: 2%;
          bottom: 2%;
          margin: -17em auto 0;
          padding: 5px 20px;
          color: $black;
          border-radius: 10px;

          h1 {
            font-size: 19px;
            line-height: 0.3;
          }

          span {
            display: block;
          }

          a {
            float: right;
            color: $black;
            font-size: 12px;
            text-decoration: none;

            &:hover {
              cursor: default;
            }

            i {
              margin-left: 5px;
              font-size: 10px;
            }
          }

          .modal-window {
            position: fixed;
            background-color: rgb($dark-gray,0.75);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 999;
            visibility: hidden;
            pointer-events: none;
            transition: all 0.3s;
            &:target {
              visibility: visible;
              pointer-events: auto;
            }
            & > div {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 80%;
              height: 80vh;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              padding: 2em;
              background: white;

              &>div {
                flex: 1 1 50%;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;

                a {
                  color: $red;
                  text-align: right;
                  font-size: $default-font-size;

                  &:hover {
                    text-decoration: underline;
                  }

                  i {
                    font-size: inherit;
                  }
                  h1 {
                     margin-top: 50px;
                     font-size: $header-font-size;
                   }
                  span {
                    font-size: 18px;
                  }
                }

                .modal-close {
                  position: absolute;
                  text-align: center;
                  top: 20px;
                  line-height: 50px;
                  right: 10px;
                  float: right;
                  text-transform: uppercase;
                  writing-mode: tb-rl;
                  transform: rotate(-180deg);
                }
              }

              .modal-image  {
                width: 38%;
                margin: 10px;
                height: 90%;
              }

            }
            header {
              font-weight: bold;
            }
            h1 {
              font-size: 150%;
              margin: 0 0 15px;
            }
          }
        }

        &:hover {
          overflow: hidden;
          .member-img  {
            transform: scale(1.1);
          }
          .tag {
            &>a {
              color: $red;
              border-bottom: 1px solid $red;
              &:hover {
                cursor: default;
              }
            }
          }
        }
      }

    }
  }

  .partners-say {
    margin-bottom: 50px;
    .sayings {
      .m-l {
        margin-left: 50px;
      }
      .m-r{
        margin-right: 50px;
      }

      .saying{
        margin-left: 3em;
        &>img {
          border-radius: 50%;
        }
        &>p {
          margin: 0 auto ;
          width: 80%;

          &>.name {
            font-weight: bold;
            display: block;
            font-style: normal;
            font-size: 15px;
          }

          &>.post {
            display: block;
            font-size: 12px;
          }

        }
      }
    }
  }
}

@media screen and (max-width: $break-point) {
  .main-content {
    .gray {
      .our-mission{
        flex-direction: column;

        .text, .image {
          margin: 0 auto;
          text-align: center;
          width: 90%;
        }
      }
    }

    .our-story-and-solution {
      .width-80 {
        flex-direction: column;

        .our-story, .solution-and-experience {
          text-align: center;
          width: 90%;
          margin: 0 auto;
        }
      }
    }

    .meet-our-leadership-team{
      .members {
        flex-wrap: wrap;

        .member {
          width: 45%;
          margin: 0 auto;

          .tag {
            .modal-window>div {
              height: 90vh;

              &>div {
                p {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }

    .partners-say {
      .sayings {
        .saying{
          &>p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
