.main-content {
  margin-top: 80px;
  .case-studies {
    background-color: $light-gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto 30px;

    .description {
      width: 35%;

      h1 {
        color: $dark-gray;
      }

      button {
        background-color: $red;
        height: 45px;
        width: 200px;
        border: none;

        a {
          text-decoration: none;
          color: $white;
          text-transform: uppercase;
          font-size: 16px;
        }
      }
    }

    .numbers {
      display: inline;
      .number {
        display: inline;
        margin-top: -50px;
        padding: 0;
        font-size: 300px;
        color: $light-gray;
        text-shadow: -4px 0 $red, 0 4px $red, 4px 0 $red, 0 -4px $red;
      }
    }

    img  {
      z-index: 1;
      margin-left: -50px;
      margin-bottom: -80px;
    }
  }

  .stroked-header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      color: $black;
      background-color: $white;
      font-size: 25px;
      width: 70%;
    }

    .more-about-launch-pad {
      width: 49%;
      img {
        width: 95%;
        box-shadow: 0 0 10px $light-gray;
        border-radius: 10px;
      }
    }

    .view-demo-video {
      width: 49%;
      video {
        display: block;
        width: 95%;
        height: 280px;
        box-shadow: 0 0 10px $light-gray;
        border-radius: 10px;
      }
    }
  }
}