.navbar {
  background-color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 25;

  .nav-logo {
    width: 30%;

    .logo {
      width: 100px;
      margin-left: 80px;
    }
  }

  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1 0 47%;
  }

  .login-signup {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 12%;
    padding: 5px;

    #login {
      font-size: 12px;
      text-transform: inherit;
      border: none;
      background-color: $white;
      margin-right: 10px;
    }

    #signup {
      font-size: 12px;
      text-transform: inherit;
      border: none;
      background-color: gray;
      color: $white;
      height: 22px;
      width: 80px;
    }
  }
}

